* text=auto eol=lf

*.py            text diff=python
*.md            text diff=markdown
*.bat           text eol=crlf


tests           export-ignore
.editorconfig   export-ignore
.gitattributes  export-ignore
.gitignore      export-ignore
*.md            export-ignore
